
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-lg-6">
                      <h4 class="card-title ">Category</h4>
                    </div>

                    <div class="col-md-6">
                      <a href="/categores/create">Add Category</a>
                    </div>
                  </div>
                  
                  
                </div>
                <div class="card-body">
                    <form method="POST" action="/categores/store">
                        <div class="form-group">
                          <label for="exampleInputEmail1">Category</label>
                          <input type="text" class="form-control" name="name" placeholder="Enter Category">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>