
    <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <div class="row">
                    <div class="col-lg-6">
                      <h4 class="card-title ">Category</h4>
                    </div>
  
                    <div class="col-md-6">
                      <a class="btn btn-primary" href="/sub-categores/create">Add Sub Category</a>
                    </div>
                  </div>
                 
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          Sub Category
                        </th>
                        <th>
                          Action
                        </th>
                      </thead>
                      <tbody>
                        <% SubCategores.forEach(function(cat) { %>
                          <tr>
                            <td>
                              1
                            </td>
                            <td><%= cat.sub_cat_name %></td>
                            <td><%= cat.cat_id %></td>
                            <td>
                              <a href="/categores/edit/<%= cat.id %>" class="btn btn-info">Edit</a> || <a href="/categores/delete/<%= cat.id %>" class="btn btn-danger">Delete</a>
                            </td>
                          </tr>
                          <% }); %> 
                
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>