<style>
    .p-50{
        padding: 15%;
    }
</style>
<div class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Register</h4>
            </div>
            <div class="card-body">
              <form action="/admin/register" method="POST">
                <div class="row p-50">
                  <div class="col-md-12 pb-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Username</label>
                      <input type="text" class="form-control" name="username">
                    </div>
                  </div>

                  <div class="col-md-12 pb-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Email address</label>
                      <input type="email" class="form-control" name="email">
                    </div>
                  </div>

                  <div class="col-md-12 pb-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Password</label>
                      <input type="text" class="form-control" name="password">
                    </div>
                  </div>

                  <div class="col-md-12 pb-2">
                    <div class="form-group">
                      <label class="bmd-label-floating">Confirm Password</label>
                      <input type="text" class="form-control" name="confirm_password">
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Registation</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>